.container {
  width: 100%;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
}

.row {
  display: flex;
  flex-direction: column;

  padding: 4px 8px;
}

.row:last-child {
  border-bottom: none;
}

.label {
  background: linear-gradient(to bottom, #f9f9f9 0, #f5f5f5 99%);
  font-size: 12px;
  font-weight: 700;
  color: #333;
  padding: 3px 0 3px 0;
  vertical-align: top;
  line-height: 1.1;
}

.value {

      color: black;
  line-height: 1.5;
     font-weight: 200;
}
